.about-us1 {
  height: 31px;
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 108px;
}
.proactive-pest-control {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor1 {
  margin: 0;
  position: relative;
  font-size: 18px;
}
.about-content,
.about-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-description {
  align-self: stretch;
  gap: 30px;
  font-size: 72px;
  color: #2d2b2e;
}
.about-content {
  width: 1005px;
  gap: 10px;
  max-width: 100%;
}
.mask-group-icon2,
.rectangle-div {
  height: 681px;
  position: relative;
  max-width: 100%;
}
.mask-group-icon2 {
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  min-width: 617px;
  min-height: 681px;
}
.rectangle-div {
  width: 626px;
  border-radius: 50px;
  border: 1.5px solid #2d2b2e;
  box-sizing: border-box;
  display: none;
}
.the-community,
.years-protecting {
  margin: 0;
}
.years-protecting-the-container {
  margin: 0;
  height: 130px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.blank-line,
.lorem-ipsum-dolor2,
.vestibulum-eros-volutpat {
  display: block;
}
.lorem-ipsum-dolor-container {
  margin: 0;
  align-self: stretch;
  height: 253px;
  position: relative;
  font-size: 18px;
  display: inline-block;
  z-index: 1;
}
.experience-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.read-more {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "DM Sans";
  color: #2d2b2e;
  text-align: left;
  display: inline-block;
  min-width: 95px;
}
.read-more-experience,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.read-more-experience {
  cursor: pointer;
  border: 1px solid #2d2b2e;
  padding: 22px 60px;
  background-color: transparent;
  border-radius: 100px;
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.read-more-experience:hover {
  background-color: rgba(97, 94, 97, 0.09);
  border: 1px solid #615e61;
  box-sizing: border-box;
}
.rectangle-container {
  width: 626px;
  border-radius: 50px;
  border: 1.5px solid #2d2b2e;
  box-sizing: border-box;
  flex-direction: column;
  padding: 72px 64px 72px 66px;
  gap: 50px;
  min-width: 626px;
  max-width: 100%;
}
.mask-group-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  font-size: 54px;
  color: #2d2b2e;
}
.about-container,
.about-container-wrapper,
.mask-group-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.about-container {
  width: 1596px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
}
.about-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 100px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #fd7a00;
  font-family: "DM Sans";
}
@media screen and (max-width: 1400px) {
  .rectangle-container {
    flex: 1;
  }
  .mask-group-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .about-container-wrapper {
    padding-bottom: 65px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .proactive-pest-control {
    font-size: 58px;
    line-height: 69px;
  }
  .mask-group-icon2 {
    min-width: 100%;
  }
  .years-protecting-the-container {
    font-size: 43px;
    line-height: 52px;
  }
  .rectangle-container {
    gap: 25px;
    padding: 47px 32px 47px 33px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .about-container {
    gap: 40px;
  }
  .about-container-wrapper {
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .about-us1 {
    font-size: 19px;
  }
  .proactive-pest-control {
    font-size: 43px;
    line-height: 52px;
  }
  .years-protecting-the-container {
    font-size: 32px;
    line-height: 39px;
  }
  .about-container {
    gap: 20px;
  }
}
